* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

body {
  background: url("./img/music.jpg") no-repeat center center fixed;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  opacity: 0.8;
  color: #FFC551;
  background: #441917;
  padding: 20px 0 30px 0;
  border-bottom: 1px solid white;
  font-size: 5vw;
}

h2 {
  opacity: 0.8;
  color: #FFC551;
  background: grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 3vw;
}

p {
  color:#441917;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 10px;
}

.quiz {
  width: 60%;
  margin: 5% auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.questions {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}

button > * {
  pointer-events: none;
}

button {
  background: rgba(0, 128, 128, 0.8);
  margin: 10px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 2vw;
}

button:hover {
  background: rgb(2, 83, 83);
  cursor: pointer;
}

button:active {
  background: rgb(2, 83, 83);
  cursor: pointer;
  margin: 20px;
}

.navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextBtn, .prevBtn {
  width: 40%;
  background: rgba(68, 25, 23, 0.8);
  padding: 3% 10%;
}

.nextBtn:hover, .prevBtn:hover {
  background: rgba(68, 25, 23, 1);
  cursor: pointer;
}

.nextBtn:active, .prevBtn.active {
  background: rgba(68, 25, 23, 1);
  cursor: pointer;
  margin: 20px;
}

@media (max-width: 700px) {
  .quiz {
    width: 90%;
    padding: 5px;
  }
  .questions {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 10vw;
    padding: 10px;
  }

  h2 {
    font-size: 6vw;
  }

  button, p {
    font-size: 5vw;
    margin: 3px;
  }
}
